<% if @boat.id %>
  <h1>Edit your boat</h1>
<% else %>
  <h1>Add your boat</h1>
<% end %>
<%= simple_form_for(@boat) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :capacity %>
  <%= f.association :brand_model %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
<% end %>
