
  <div class="banner" style="background-image: url('<%= cl_image_path @boat.photo %>');">
  </div>

<div>
  <div class="container">
    <div class="row">
      <div class="card-trip col-9">
        <div>
          <h2><%= @boat.name%></h2>
        </div>
        <div>
           <p> <%=@boat.description%></p>
        </div>
      </div>
      <div class="card-tripcol-3">
        <% if @boat.user_id == current_user %>
          <div><%= link_to "Delete", boat_path(@boat), method: :delete, class: "btn btn-danger" %></div>
          <div><%= link_to "Edit", edit_boat_path(@boat), class: "btn btn-primary" %></div>
        <% else %>
          <%= link_to "Reserve", new_boat_booking_path(@boat), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


