
<div class="container justify-content_between col-11 ">
   <div class="card-trip">
    <div class="d-flex">
      <%= cl_image_tag @boat.photo, alt: "alttext", class: "w-50"%>

        <div
          id="map"
          data-markers="<%= @coordinates.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          class="w-50"
        ></div>

    </div>
       <div class="card-trip-infos">
         <div>
           <h3><%= @boat.name%></h3><h2>Brand - Model: <%= @boat.brand_model.name %></h2>
         <div>
            <h2 class="card-trip-pricing">Capacity: <%= @boat.capacity %></h2><h2 class="card-trip-pricing"> Price: <%= @boat.price %></h2>
         </div>
           <p><%= @boat.address %></p>
           <p><%= @boat.description %></p>
         </div>
           <div class="pl-5 ">
             <% if @boat.user_id == current_user %>
              <div><%= link_to "Delete", boat_path(@boat), method: :delete, class: "btn btn-danger" %></div>
              <div><%= link_to "Edit", edit_boat_path(@boat), class: "btn btn-primary" %></div>
            <% else %>
              <div class = "form justify-content-between border pt-2">
                <%= simple_form_for([@boat, @booking]) do |f| %>
                  <%= f.input :start_date, as: :date,
                  start_year: Date.today.year,
                  order: [:day, :month, :year],
                  html5: true %>
                  <%= f.input :end_date, as: :date,
                  start_year: Date.today.year,
                  order: [:day, :month, :year],
                  html5: true %>
                  <%= f.submit value: 'reserve', class: "btn btn-success w-100" %>
                <% end %>
              </div>
            <% end %>
           </div>
       <img src="<%= @boat.user.photo %>" class="card-trip-user avatar-bordered" />
     </div>
   </div>

</div>

